body {
    background-color: #121212;
    color: #e0e0e0;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.container {
    max-width: 600px;
    width: 100%;
    background-color: #1f1f1f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    color: #76ff03; /* Helles Grün */
    font-size: 3em;
    margin-bottom: 10px;
}

p {
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
}

a {
    color: #64b5f6; /* Helles Blau */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
img{
    width: 40%;
    height: 40%;
}
@media (max-width: 600px) {
    .container {
        padding: 15px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em;
    }
}

@media (max-width: 400px) {
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 0.9em;
    }

    .container {
        padding: 10px;
    }
}